appdirs==1.4.3
appnope==0.1.0
certifi==2018.1.18
click==6.7
crowdai==1.0.21
cycler==0.10.0
decorator==4.2.1
enum-compat==0.0.2
enum34==1.1.6
Flask==0.12.2
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.9.6
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.14.2
packaging==16.8
pandas==0.22.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
pyzmq==17.0.0
requests==2.14.2
scipy==1.0.1
seaborn==0.8.1
simplegeneric==0.8.1
six==1.10.0
socketIO-client-2==0.7.5
termcolor==1.1.0
tornado==5.0.1
tqdm==4.11.2
traitlets==4.3.2
wcwidth==0.1.7
websocket-client==0.40.0
Werkzeug==0.12.2
scikit-learn==0.19.1
